services:
  discord-bot:
    image: mine:latest
    build:
      dockerfile: Dockerfile
      context: .
    environment:
      - DISCORD_CLIENT_TOKEN_MINE
      - DB_HOST_MINE
      - DB_USERNAME_MINE
      - DB_PASSWORD_MINE
      - BOT_OWNER_ID
    restart: always